services:
  - type: web
    name: fauna-comunidad
    env: node
    plan: starter
    buildCommand: "npm install && npm run db:generate && npm run build"
    startCommand: "npm run start"
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: CLOUDINARY_URL
        sync: false
      - key: NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME
        sync: false
      - key: RESEND_API_KEY
        sync: false
      - key: NEXT_PUBLIC_APP_URL
        sync: false
